# Pandas: grouping

In [303]:
import pandas as pd
import numpy as np

In [304]:
cars = pd.read_csv("data/vehicles.csv")

In [305]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [306]:
list_of_models=cars['Model'].unique()
len(list_of_models)

3608

group by the data by the Make  using count function

In [307]:
cars.groupby("Make")[['Model']].count()

                             Model
Make
AM General                       4
ASC Incorporated                 1
Acura                          302
Alfa Romeo                      41
American Motors Corporation     22
...                            ...
Volkswagen                    1047
Volvo                          717
Wallace Environmental           32
Yugo                             8
smart                           20

[127 rows x 1 columns]

## Convert impertial to metric

### CO2 Emissions

In [308]:
cars['CO2 Emission Grams/Mile']=round(cars['CO2 Emission Grams/Mile']/1.60934,2)
cars.rename(columns={'CO2 Emission Grams/Mile': 'CO2 Emission Grams/KM'},inplace=True)

cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/KM,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,324.83,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.78,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,345.13,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.78,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,345.13,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.61,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,150.99,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.61,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,152.86,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,158.45,1150

### MPG --> KPL

In [309]:
for i in ['City MPG','Highway MPG','Combined MPG']:
    cars[i]=round(cars[i]*(1.60934 / 3.78541),2)

imperial=['City MPG','Highway MPG','Combined MPG']
metric=['City KPL','Highway KPL','Combined KPL']
imp_to_metric_columns=dict(zip(imperial,metric))
cars.rename(columns=imp_to_metric_columns,inplace=True)
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City KPL,Highway KPL,Combined KPL,CO2 Emission Grams/KM,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.65,7.23,7.23,324.83,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.53,5.53,5.53,424.78,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,6.80,7.23,6.80,345.13,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.53,5.53,5.53,424.78,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,5.95,8.93,6.80,345.13,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.45,16.16,15.31,151.61,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.45,16.16,15.31,150.99,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.45,16.16,15.31,151.61,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.45,16.58,15.31,152.86,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,13.60,16.58,14.88,158.45,1150

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

What brand has the most cars?

In [310]:
#Do it without groupby
x=cars['Make'].value_counts()
print(x.index[0],'has the most cars with',x[0],'models')

Chevrolet has the most cars with 3643 models

In [311]:
#Do it with groupby
cars.groupby('Make')[['Make']].value_counts().sort_values(ascending=False).head(1)

Make
Chevrolet    3643
dtype: int64

<b>show the average CO2_Emission_Grams/Km  by Brand

In [312]:
cars.groupby("Make")[['CO2 Emission Grams/KM']].mean()

                             CO2 Emission Grams/KM
Make
AM General                              379.880000
ASC Incorporated                        345.130000
Acura                                   262.584470
Alfa Romeo                              288.289268
American Motors Corporation             314.264545
...                                            ...
Volkswagen                              244.039885
Volvo                                   270.798131
Wallace Environmental                   408.856250
Yugo                                    221.252500
smart                                   153.495000

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [313]:
cars.groupby('Make')['CO2 Emission Grams/KM'].mean().sort_values(ascending=False)

Make
Vector                                651.920000
Superior Coaches Div E.p. Dutton      552.210000
S and S Coach Company  E.p. Dutton    552.210000
Bugatti                               542.493750
Laforza Automobile Inc                502.010000
                                         ...
MINI                                  194.934969
Daihatsu                              192.744706
Fiat                                  189.310698
smart                                 153.495000
Fisker                                105.010000
Name: CO2 Emission Grams/KM, Length: 127, dtype: float64

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [314]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [315]:
decade_list=[1980,1990,2000,2010,2020]
labels_list=['80s','90s','2000s','2010s']
cars['Decade']=pd.cut(cars['Year'],bins=decade_list,labels=labels_list)

In [316]:
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City KPL,Highway KPL,Combined KPL,CO2 Emission Grams/KM,Fuel Cost/Year,Decade
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.65,7.23,7.23,324.83,1950,80s
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.53,5.53,5.53,424.78,2550,80s
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,6.80,7.23,6.80,345.13,2100,80s
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.53,5.53,5.53,424.78,2550,80s
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,5.95,8.93,6.80,345.13,2550,80s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.45,16.16,15.31,151.61,1100,2010s
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.45,16.16,15.31,150.99,1100,2010s
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.45,16.16,15.31,151.61,1100,2010s
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.45,16.58,15.31,152.86,1100,2010s
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,13.60,16.58,14.88,158.45,1150,2010s

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [317]:
cars.groupby("Decade")[['City KPL','Highway KPL','Combined KPL']].mean()

        City KPL  Highway KPL  Combined KPL
Decade
80s     7.350110     9.514764      8.157480
90s     7.204509     9.747641      8.137035
2000s   7.208545     9.942205      8.205626
2010s   8.394202    11.532538      9.532727

In [318]:
cars.groupby('Decade').agg({'City KPL':'mean','Highway KPL':'mean','Combined KPL':'mean'})

        City KPL  Highway KPL  Combined KPL
Decade
80s     7.350110     9.514764      8.157480
90s     7.204509     9.747641      8.137035
2000s   7.208545     9.942205      8.205626
2010s   8.394202    11.532538      9.532727

Which brands are more environment friendly?

In [319]:
cars.groupby(['Make','Decade'],observed=True)[['CO2 Emission Grams/KM']].mean().sort_values(by="CO2 Emission Grams/KM")

                                           CO2 Emission Grams/KM
Make                               Decade
Fisker                             2010s              105.010000
smart                              2000s              153.390000
                                   2010s              153.540000
Daihatsu                           80s                182.824444
Fiat                               2010s              189.310698
...                                                          ...
S and S Coach Company  E.p. Dutton 80s                552.210000
Rolls-Royce                        80s                624.726364
Aston Martin                       80s                632.745000
Vector                             90s                651.920000
Lamborghini                        80s                749.435000

[269 rows x 1 columns]

Does the drivetrain affect fuel consumption?

In [320]:
cars.groupby(['Drivetrain']).agg({'Highway KPL':'mean','City KPL':'mean'})

                            Highway KPL   City KPL
Drivetrain
2-Wheel Drive                  8.222175   6.642813
2-Wheel Drive, Front          14.030000  10.630000
4-Wheel Drive                  9.667977   7.190860
4-Wheel or All-Wheel Drive     8.346717   6.392536
All-Wheel Drive               10.881584   7.785204
Front-Wheel Drive             12.164989   9.001933
Part-time 4-Wheel Drive        8.115759   6.216709
Rear-Wheel Drive               9.023201   6.557019

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [322]:
cars['Transmission'].unique()

array(['Automatic 3-spd', 'Automatic 4-spd', 'Manual 5-spd',
       'Automatic (S5)', 'Manual 6-spd', 'Automatic 5-spd', 'Auto(AM8)',
       'Auto(AM-S8)', 'Auto(AV-S7)', 'Automatic (S6)', 'Automatic (S9)',
       'Automatic (S4)', 'Auto(AM-S9)', 'Automatic (S7)', 'Auto(AM7)',
       'Auto(AM-S7)', 'Auto(AM6)', 'Automatic 6-spd', 'Manual 4-spd',
       'Automatic (S8)', 'Manual(M7)', 'Auto(AM-S6)',
       'Automatic (variable gear ratios)', 'Automatic (AV)',
       'Auto(AV-S8)', 'Automatic (AM6)', 'Automatic 8-spd', 'Auto(A1)',
       'Automatic (A1)', 'Automatic (A6)', 'Auto(AV-S6)', 'Manual 3-spd',
       'Manual 7-spd', 'Automatic 9-spd', 'Auto (AV)', 'Automatic 6spd',
       'Auto(L4)', 'Auto(L3)', 'Auto (AV-S6)', 'Auto (AV-S8)',
       'Automatic (AV-S6)', 'Automatic 7-spd', 'Manual 5 spd',
       'Auto(AM5)', 'Automatic (AM5)'], dtype=object)

In [330]:
def update_trans(x):
    if x.find("Auto")!=-1:
        return "Automatic"
    elif x.find("Manual")!=-1:
        return "Manual"
    else:
        return x

cars['Transmission']=list(map(update_trans,cars['Transmission']))
cars['Transmission'].unique()

array(['Automatic', 'Manual'], dtype=object)

In [332]:
cars.groupby("Transmission")[['City KPL']].mean()

              City KPL
Transmission
Automatic     7.278483
Manual        7.968349

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [334]:
cars.groupby("Transmission").agg({'City KPL':'mean','Transmission':'count'})

              City KPL  Transmission
Transmission
Automatic     7.278483         24290
Manual        7.968349         11662

aggregate with average City_Km/Liter and the minimum of the Trans

In [339]:
cars.groupby("Transmission").agg({'City KPL':['mean','min']})

              City KPL
                  mean   min
Transmission
Automatic     7.278483  2.98
Manual        7.968349  2.55